.montse{
    font-family: 'Montserrat', sans-serif;
}
body, p, nav, main{
    background-color:#A6B9C8;
    color: #0B2A3c;
}
#logo{
    width: 170px; 
    height: 55px; 
    object-fit: cover;
}
.boton{
    border-radius: 4px;
    border: #0B2A3c solid 1px;
    color: #A6B9C8;
    background-color: #0B2A3c;
    padding: 0.5em 1.5em ;
    text-align: center;
    
}
.footer{
    background-color: #0B2A3c;
    color: #A6B9C8;
}